<!DOCTYPE html>
<html ng-app="helloWord">
<head>
	<title>Hello Word</title>
	<script src="angular.js"></script>
	<script>
		angular.module("helloWord",[]);
		angular.module("helloWord").controller("helloWordCrtl", function ($scope){
			$scope.message = "Hello World!";
		
		});
	</script>
</head>
<body>
	<div ng-controller="helloWordCrtl">	
		{{message}}
	</div>

</body>
</html>